.lucky__container {
  position: relative; }

.lucky__header {
  display: flex;
  color: #fff;
  position: absolute;
  z-index: 1;
  transform: rotate(90deg);
  transform-origin: bottom left;
  width: 300px;
  height: 1.5rem; }
  .lucky__header > div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(-1); }
  .lucky__header .free {
    background: #1b80b2; }
  .lucky__header .paid {
    background: #f37527; }

.lucky__tier {
  text-align: center;
  background: #333;
  color: #fff;
  height: 26px; }

.lucky__row {
  height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  border-bottom: 0;
  padding: 0.2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .lucky__row.free {
    background: #75c3ea; }
  .lucky__row.paid {
    background: #f28a4b; }
  .lucky__row img {
    width: 50px;
    background: black;
    border: 2px solid #17a673; }

.lucky__roller {
  height: 300px;
  overflow: hidden; }

.lucky__rows.rolling {
  animation: rolling 0.5s infinite linear; }

.lucky-roll {
  width: 200px; }

.splide {
  margin-left: 1.5rem; }
  .splide:hover .splide__arrow {
    opacity: 1; }
  .splide__arrow {
    background: #fff;
    opacity: 0;
    transition: opacity 0.2s; }
  .splide__pagination {
    position: unset;
    transform: none;
    left: 0;
    width: calc(100% - $banner); }
    .splide__pagination__page.is-active {
      background: #999; }

@keyframes rolling {
  50% {
    transform: translateY(-50%); } }
