$size: 300px;
$tier: 26px;
$banner: 1.5rem;

.lucky {
  &__container {
    position: relative;
  }

  &__header {
    display: flex;
    color: #fff;
    position: absolute;
    z-index: 1;
    transform: rotate(90deg);
    transform-origin: bottom left;
    width: $size;
    height: $banner;

    > div {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(-1);
    }

    .free {
      background: #1b80b2;
    }

    .paid {
      background: #f37527;
    }
  }

  &__tier {
    text-align: center;
    background: #333;
    color: #fff;
    height: $tier;
  }

  &__row {
    height: $size / 2;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-bottom: 0;
    padding: 0.2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &.free {
      background: #75c3ea;
    }

    &.paid {
      background: #f28a4b;
    }

    img {
      width: 40%;
      background: black;
      border: 2px solid #17a673;
    }
  }

  &__roller {
    height: $size;
    overflow: hidden;
  }

  &__rows.rolling {
    animation: rolling 0.5s infinite linear;
  }

  &-roll {
    width: 200px;
  }
}

// Override SplideJS styles
.splide {
  margin-left: $banner;

  &:hover &__arrow {
    opacity: 1;
  }

  &__arrow {
    background: #fff;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &__pagination {
    position: unset;
    transform: none;
    left: 0;
    width: calc(100% - $banner);

    &__page.is-active {
      background: #999;
    }
  }
}

@keyframes rolling {
  50% {
    transform: translateY(-50%);
  }
}